/* Utilisez une grille CSS pour aligner les éléments verticalement */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 400px;
	height: auto;
    padding: 20px;
    background-color: #363636;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 150px; /* Ajustez la largeur de l'étiquette selon votre préférence */
}

.form-group label {
    width: 150px; /* Largeur fixe pour l'étiquette */
}


.input-field {
    flex: 1; /* Fait en sorte que tous les champs de saisie aient la même largeur */
    box-sizing: border-box;
    padding: 6px;
    border-radius: 4px;
    border: none;
    background-color: #454545;
    color: #ffffff;
}